/* Import from Google Fonts. Roboto as the main font and Oswald for headings */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

/* Margin, padding and border defaults changed to 0 and none as defaults */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* General Shared Styling Rules */
body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #3a3a3a;
    background-color: lightblue;
}

h1, h2, h3, h4, h5 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    color: #252525
}

h1 {
    letter-spacing: 2px;
    font-size: 32px;
}

a {
    text-decoration: none;
}

/* Header Styling */
header {
    height: 80px;
    background-color: #205fbe;
    color: #fafafa;
}

header h1 {
    color: #fafafa;
    padding-top: 14px;
}

.header_login {
    float: left;
}

.header_login {
    padding: 4px;
    margin: 22px 5px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #fafafa;
    background: #f0511c;
    border: solid 1.5px;
    border-color: #205fbe;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.header_login:hover {
    background-color:#078b2f;
    border: solid 1.5px;
    border-color: black;
}

#desktop_nav {
    display: none;
}

.topnav {
    float: right;
    overflow: hidden;
    background-color: #7e1881;
    min-width: 100%;
    text-align: center;
}

.topnav #nav_links {
    display: none;
  }

.topnav a {
    color: #fafafa;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 16px;
    display: block;
  }

.topnav a:hover {
    color: #fafafa;
    background: #f0511c;
  }

#nav_bar_toggle {
    background: #7e1881;
    display: block;
    position: absolute;
    right: 10px;
    top: 18px;
  }

#nav_bar_toggle:hover {
    color: #fafafa;
    background: #f0511c;
  }


/* Footer Styling */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #7e1881;
    color: #fafafa;
}

footer ul {
    list-style-type: none;
}

#made_by {
    float: left;
    text-align: center;
    width: 50%;
    font-size: 18px;
    padding-top: 14px;
}

#social_links {
    float: right;
    text-align: center;
    width: 50%;
}

.social_list_item {
    display: inline-block;
}

.social_list_item a i {
    width: 24px;
    height: 24px;
    padding: 4px;
    margin-top: 22px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #fafafa;
    background: #f0511c;
    border: solid 1.5px;
    border-color: #7e1881;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.social_list_item i:hover {
    background: #078b2f;
    border: solid 1.5px;
    border-color: black;
}

.clear {
    height: 80px;
}

/* Authentication sites styling */
.auth_form {
    padding: 20px;
    line-height: 150%;
}

.login input, .signup input {
    border: solid 2px;
    padding: 1px;
    margin: 2px 0;
}

.auth_button {
    padding: 8px 6px;
    border-radius: 10%;
    font-size: 18px;
    color: #fafafa;
    background: #f0511c;
    border: solid 1.5px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.auth_button:hover {
    background: #078b2f;
    border: solid 1.5px;
    border-color: black;
}

.auth_internal_link {
    color: #078b2f;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.auth_internal_link:hover {
    font-weight: bolder;
}

/* Index page styling */
#hero_image {
    width: 100%;
    height: auto;
}

#welcome_text {
    text-align: center;
    margin-bottom: 20px;
}

#welcome_text h3 {
    margin: 10px auto;
}

#welcome_text p {
    margin: 0 5px;
}

#get_started_container {
    height: 80px;
    width: 100%;
}

#search_link, #profile_link {
    height: 100%;
    width: 50%;
    display: inline-block;
    text-align: center;
    font-size: 22px;
}

#search_link {
    float: left;
    background-color: #205fbe;
}

#profile_link {
    float: right;
    background-color: #f0511c;
}

#search_link:hover, #profile_link:hover {
    background-color: #078b2f;
}

#search_link a, #profile_link a {
    text-decoration: none;
    color: #fafafa;
    position: relative;
    top: 26px;
}

/* Results page styling */
#search_container h2 {
    margin-top: 10px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 28px;
}

#search_form {
    text-align: center;
    font-size: 16px;
    margin: 10px auto;
}

#search_btn {
    background-color: #f0511c;
    color: #fafafa;
    font-size: 18px;
    padding: 8px 6px;
    border-radius: 10%;
    margin-top: 15px;
    border: solid 1.5px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

#search_btn:hover {
    background: #078b2f;
    border: solid 1.5px;
    border-color: black;
}

.search_result_item {
    border: solid 5px;
    border-color: #252525;
    padding: 5px;
    text-align: center;
}

.search_hover_link:hover {
    background: #078b2f;
}

.search_result_item p {
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
}

.experience-link {
    color:#000000;
    font-weight: bolder;
}

.button_container {
    text-align: center;
}

/* Experience Detail Styling. For consistancy the Experience "Card" styling is reused here" */
.experience_image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.search_result_item i {
    color: #078b2f;
    text-transform: none;
}

.external_link {
    text-decoration: none;
    color: #f0511c;
}

.external_link:hover {
    color: #078b2f;
}

/* Assorted Button Styling */
#go_back_button, #comment_editing button, .top_button, .bottom_button {
    background-color: #f0511c;
    margin: 10px auto;
    text-align: center;
    padding: 4px;
    border-radius: 15%;
    color: #fafafa;
    font-size: 16px;
}

#go_back_button:hover, #comment_editing button:hover, .top_button:hover, .bottom_button:hover {
    background-color: #078b2f;
}

/* Add and view Reviews styling */
#add_review {
    background-color: #205fbe;
    color: #fafafa;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    display: grid;
}

#add_review h3 {
    color: #fafafa;
}

#add_review form {
    width: 300px;
    text-align: center;
    margin: 10px auto;
}

#add_review form input {
    margin: 10px;
    line-height: 125%;
}

#add_review form button {
    background-color: #f0511c;
    margin-left: 20px;
    padding: 4px;
    border-radius: 15%;
    color: #fafafa;
    font-size: 16px;
}

#add_review form button:hover {
    background-color: #078b2f;
}

#add_review a {
    color: #fafafa;
    text-decoration: none;
}

#add_review a:hover {
    color:#078b2f;
    font-weight: bolder;
}

.search_result_item span {
    font-size: 12px;
    text-transform: none;
}

/* Edit Review styling */
#edit_review {
    color:#252525;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    display: grid;
}

#edit_review h3 {
    color:#252525;
}

#edit_review form {
    width: 300px;
    text-align: center;
    margin: 10px auto;
}

#edit_review form input {
    margin: 10px;
    line-height: 125%;
}

#edit_review form button {
    background-color: #f0511c;
    margin-top: 10px;
    margin-left: 20px;
    padding: 4px;
    border-radius: 15%;
    color: #fafafa;
    font-size: 16px;
}

#edit_review form button:hover {
    background-color: #078b2f;

/* Media Queries for 600px screen width and up */
@media only screen and (min-width: 600px) {
    .topnav {
        display: none;
    }

    #desktop_nav {
        display: block;
        float: right;
    }

    #desktop_nav a {
        text-decoration: none;
        color:#fafafa;
        margin-right: 40px;
        font-size: 20px;
        position: relative;
        top: -30px;
        text-transform: uppercase;
        font-weight: 500;
    }

    #desktop_nav a:hover {
        color:#f0511c;
    }
}

/* Media Queries for 900px screen width and up */
@media only screen and (min-width: 900px) {
    /* Index Page */
    #hero_container {
        margin: 0 20%;
    }

    #welcome_text h3 {
        font-size: 28px;
    }

    #welcome_text p {
        font-size: 18px;
        margin: 0 20%;
    }
    /* Results Page */
    .search_result_item {
        text-align: center;
        margin: 5px 20%;
        font-size: 18px;
    }
}