{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="KidsTravel helps you find activities whilst traveling with children">
    <meta name="keywords" content="kids, children, travel, vacation, holiday, activities, Florence, Copenhagen">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>KidsTravel</title>
</head>
<body>
    <!-- Header with link to profile page & site navigation -->
    <header>
        <a href="#" id="header_profile_link">Log In</a>
        <a href="{% url 'home' %}"><h1>KidsTravel</h1></a>
        <!-- Responsive Nav Bar code inspired by https://www.w3schools.com/howto/howto_js_mobile_navbar.asp -->
        <div class="topnav">
            <a href="#home" class="active">Logo</a>
            <!-- Navigation links (hidden by default) -->
            <div id="myLinks">
              <a href="#news">News</a>
              <a href="#contact">Contact</a>
              <a href="#about">About</a>
            </div>
    </header>
    

    {% block content %}
    <!-- Page specific content goes here -->
    {% endblock content %}

    <footer>
        <p>This is a footer</p>
    </footer>


</body>
</html>



