{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- A more expansive version of the experience chosen -->
    <div class="search_result_item">
        <h3>{{ experience.name }}</h3>
        <h4>{{ experience.category }} in {{ experience.city }}</h4>
        {% if experience.price == 0 %}
            <i class="fa fa-check"> Free</i>
        {% endif %}
        <p>{{ experience.description }}</p>
        <br>
        <a href="{{ experience.directions }}" target="_blank" rel="noopener noreferrer" class="external_link">Find {{ experience.name }} on Google Maps</a>
        <br>
        <a href="{{ experience.website }}" target="_blank" rel="noopener noreferrer" class="external_link">Visit {{ experience.name }}'s website</a>
        <br>
        <!-- Return to previous page button -->
        <button id="go_back_button" onclick="history.back()">Go Back</button>
        <br>
        {% if "placeholder" in experience.image.url %}
            <img src="{% static 'images/placeholder.jpg' %}" alt="placeholder image" class="experience_image">
        {% else %}
            <img src="{{ experience.image.url }}" alt="image of {{ experience.name }}" class="experience_image">
        {% endif %}
        <div id="admin_experience_editing">
            {% if user.is_superuser %}
                <a href="{% url 'editexp' experience.id %}"><button >Edit</button></a>
                <button id="ExpModalBtn">Delete</button>
                <!-- Delete confirmation Modal, inspiration from https://www.w3schools.com/howto/howto_css_modals.asp -->
                <div id="deleteExpModal" class="modal">
                      <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>Confirm that you wish to delete the Experience.<br>
                                To avoid deletion, close this box on the X or lick anywhere outside it</p>
                            <a href="{% url 'deleteexp' experience.id %}"><button id="delete_experience">Confirm Deletion</button></a>
                        </div>
                </div>
            {% endif %}
        </div>
    </div>
    
<!-- Reviews -->
{% for review in reviews %}
  <div class="search_result_item">
        <h3>{{ review.title }} 
            {% if review.rating == 1  %}
                *
            {% elif review.rating == 2 %}
                **
            {% elif review.rating == 3 %}
                ***
            {% elif review.rating == 4 %}
                ****
            {% else %}
                *****
            {% endif %}
        </h3>
        <h4>By {{ review.username }}</h4>
        <span>{{ review.created_on }}</span>
        <p>{{ review.content }}</p>
        <!-- Options to edit and delete a review if its yours -->
        <div id="comment_editing">
            {% if review.username == user or user.is_superuser %}
                <a href="{% url 'edit' review.id %}"><button >Edit</button></a>
                <button id="ReviewModalBtn">Delete</button>
                <!-- Delete confirmation Modal, inspiration from https://www.w3schools.com/howto/howto_css_modals.asp -->
                <div id="deleteReviewModal" class="modal2">
                      <!-- Modal content -->
                        <div class="modal-content2">
                            <span class="close">&times;</span>
                            <p>Confirm that you wish to delete the Review.<br>
                                To avoid deletion, close this box on the X or lick anywhere outside it</p>
                            <a href="{% url 'delete' review.id %}"><button id="delete_review">Confirm Deletion</button></a>
                        </div>
                </div>
            {% endif %}
        </div>
  </div>
{% endfor %}

    <!-- Form for Users to submit reviews -->
    <div id="add_review">
        {% if user.is_authenticated %}
            <h3>Post Review</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post">
                {{ review_form }}
                {% csrf_token %}
                <button type="submit">Submit</button>
            </form>
        {% else %}
            <p>What to add a review?</p>
            <a href="{% url 'account_login' %}">Log In/Sign Up</a>
        {% endif %}
        </div>

{%endblock%}