{% extends "base.html" %}
{% load static %}

{% block content %}
  <div id="hero_container">
    <img src="{% static 'images/kidstravel_hero.jpg' %}" id="hero_image" alt="Two kids enjoying a mountain view">
  </div>

  <div id="search_container">
    <h2>Find Experience</h2>
    <!-- The form that allows the users to search for experiences -->
    <form method="get", action="." id="search_form">
      {{myFilter.form}}
      <br>
      <button type="submit" id="search_btn">Search</button>
    </form>

    <div id="search_result">
    <ul>
      {% for experience in experiences %}
        <li><h3>{{ experience.name }}</h3></li>
        <li>{{ experience.city }}</li>
        <li>{{ experience.category }}</li>
        <li><p>{{ experience.excerpt }}</p></li>
      {% endfor %}
    </ul>
  </div>
</div>
{%endblock%}