{% extends "base.html" %}
{% load static %}

{% block content %}
  <div id="hero_container">
    <img src="{% static 'images/kidstravel_hero.jpg' %}" id="hero_image" alt="Two kids enjoying a mountain view">
  </div>>

  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>

  <ul>
  {% for experience in filter.qs %}
    <li>{{ experience.name }}</li>
  {% endfor %}
  </ul>
{%endblock%}

<!-- 
<form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>
  <ul>
  {% for experience in filter.qs %}
    <li>{{ experience.name }}</li>
  {% endfor %}
  </ul>


-->